@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  background-color: black;
  padding-bottom: 100vh;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.no-scroll {
  scrollbar-width: none;
}
